div{
    padding:0.4em;
    height:auto;
}

p.description{
    font-style:italic;
}
.Title{
    font-weight:700;
    text-decoration:underline;
    padding-top:1em; 
}
#first-card{
  margin-top:4em;
}
.hover {
    position: relative;
  }
  
  /* Make the image to responsive */
  .image {
    display: block;
    width: auto;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 98.5%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding:0.4em;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .hover:hover .overlay {
    opacity: 1;
  }
  body, html {
    height: auto;
  }
  
  .bg {
    /* The image used */
    background-image: url("Main Background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
  .America {
    /* The image used */
    background-image: url("America Background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
  .Germany {
    /* The image used */
    background-image: url("Germany Background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }

.england{
  background-color: rgb(43, 87, 172);
    
  }
